<%- include('header') %>
<style>
html, body {
    height: 100%;
}
img {
    height: 250px;
}
</style>
<html>
<body>
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <img src="https://ouch-cdn.icons8.com/preview/7/31b4c24b-3ef0-49b4-b2eb-03fb9dde8ed8.png" alt="">
            <p>I think you're lost. Let's go back to the homepage!</p>
            <div class="text-center">
                <button class="btn btn-primary">Go to Homepage</button>
            </div>
        </div>
     </div>
</body>
</html>