<style>
.footer{
    text-align: center;
    color: black;  
    width: 100%;
    position: relative;
    bottom: 0;
}
</style>

    <footer class="footer">
        <p>&copy; copyright by kelompok 2 FSW-Nanda-Siang 2021</p>
   </footer>
  
