<%- include('header') %> 
<style>
    .container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
   
    .test {
        width: 100px;
        height: 50px;
    }

</style>
<div class="container">
    <a href="" class="btn btn-info mb-3">Back to Home</a>
    <div class="row">
        <div class="col col-md-10 col-lg-10 col-sm">
            <div class="card mb-3">
                <img src="https://i.ytimg.com/vi/B0-WmC14yTo/maxresdefault.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a href="" class="btn btn-primary">Go To Author</a>
                </div>
              </div>
             
        </div>        
    </div>
</div>

<%- include('footer') %> 